<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Interfaz web</title>

		<!-- Bootstrap -->
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-12">
					<h1>Proyecto de lámpara web</h1>
					{% for pin in pins %}
					<p class="lead">La {{ pins[pin].name }}
					{% if pins[pin].state == true %}
						se encuentra actualmente encendida  <a  class="btn btn-primary" href="/{{pin}}/off">Apagar</a>
					{% else %}
						se encuentra actualmente apagada <a class="btn btn-success" href="/{{pin}}/on">Encender</a>
					{% endif %}
					</p>
					{% endfor %}
					{% if message %}
					<h2>{{ message }}</h2>
					{% endif %}
				</div>
			</div>
		</div>
		
		<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	</body>
</html>